:root, [data-bs-theme=light] {
  --bs-primary: #0d6f54;
  --bs-primary-rgb: 13,111,84;
  --bs-primary-text-emphasis: #052C22;
  --bs-primary-bg-subtle: #CFE2DD;
  --bs-primary-border-subtle: #9EC5BB;
  --bs-success: #1f9f63;
  --bs-success-rgb: 31,159,99;
  --bs-success-text-emphasis: #0C4028;
  --bs-success-bg-subtle: #D2ECE0;
  --bs-success-border-subtle: #A5D9C1;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #0d6f54;
  --bs-btn-border-color: #0d6f54;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0B5E47;
  --bs-btn-hover-border-color: #0A5943;
  --bs-btn-focus-shadow-rgb: 219,233,229;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0A5943;
  --bs-btn-active-border-color: #0A533F;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6f54;
  --bs-btn-disabled-border-color: #0d6f54;
}

.btn-outline-primary {
  --bs-btn-color: #0d6f54;
  --bs-btn-border-color: #0d6f54;
  --bs-btn-focus-shadow-rgb: 13,111,84;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0d6f54;
  --bs-btn-hover-border-color: #0d6f54;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0d6f54;
  --bs-btn-active-border-color: #0d6f54;
  --bs-btn-disabled-color: #0d6f54;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #0d6f54;
}

.btn-success {
  --bs-btn-color: #000000;
  --bs-btn-bg: #1f9f63;
  --bs-btn-border-color: #1f9f63;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #41AD7A;
  --bs-btn-hover-border-color: #35A973;
  --bs-btn-focus-shadow-rgb: 5,24,15;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #4CB282;
  --bs-btn-active-border-color: #35A973;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #1f9f63;
  --bs-btn-disabled-border-color: #1f9f63;
}

.btn-outline-success {
  --bs-btn-color: #1f9f63;
  --bs-btn-border-color: #1f9f63;
  --bs-btn-focus-shadow-rgb: 31,159,99;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #1f9f63;
  --bs-btn-hover-border-color: #1f9f63;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #1f9f63;
  --bs-btn-active-border-color: #1f9f63;
  --bs-btn-disabled-color: #1f9f63;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #1f9f63;
}

