:root, [data-bs-theme=light] {
  --bs-primary: #ce1126;
  --bs-primary-rgb: 206,17,38;
  --bs-primary-text-emphasis: #52070F;
  --bs-primary-bg-subtle: #F5CFD4;
  --bs-primary-border-subtle: #EBA0A8;
  --bs-success: #1f9f63;
  --bs-success-rgb: 31,159,99;
  --bs-success-text-emphasis: #0C4028;
  --bs-success-bg-subtle: #D2ECE0;
  --bs-success-border-subtle: #A5D9C1;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #ce1126;
  --bs-btn-border-color: #ce1126;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #AF0E20;
  --bs-btn-hover-border-color: #A50E1E;
  --bs-btn-focus-shadow-rgb: 248,219,222;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #A50E1E;
  --bs-btn-active-border-color: #9B0D1D;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #ce1126;
  --bs-btn-disabled-border-color: #ce1126;
}

.btn-outline-primary {
  --bs-btn-color: #ce1126;
  --bs-btn-border-color: #ce1126;
  --bs-btn-focus-shadow-rgb: 206,17,38;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ce1126;
  --bs-btn-hover-border-color: #ce1126;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ce1126;
  --bs-btn-active-border-color: #ce1126;
  --bs-btn-disabled-color: #ce1126;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ce1126;
}

.btn-success {
  --bs-btn-color: #000000;
  --bs-btn-bg: #1f9f63;
  --bs-btn-border-color: #1f9f63;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #41AD7A;
  --bs-btn-hover-border-color: #35A973;
  --bs-btn-focus-shadow-rgb: 5,24,15;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #4CB282;
  --bs-btn-active-border-color: #35A973;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #1f9f63;
  --bs-btn-disabled-border-color: #1f9f63;
}

.btn-outline-success {
  --bs-btn-color: #1f9f63;
  --bs-btn-border-color: #1f9f63;
  --bs-btn-focus-shadow-rgb: 31,159,99;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #1f9f63;
  --bs-btn-hover-border-color: #1f9f63;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #1f9f63;
  --bs-btn-active-border-color: #1f9f63;
  --bs-btn-disabled-color: #1f9f63;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #1f9f63;
}

